.col.body-card
  h2 About the man
  a(href="https://einvestingforbeginners.com/about-andrew-sather/")
    h3 Andrew Sather | The father of vulgarized value investing
  a(href="https://einvestingforbeginners.com")
    p E-Investing for beginners podcast