extends layout

block content
  .jumbotron.py-4
    h1.display-4 VTI Interactive
    p.lead
      form(action="/result",method="POST")
        h3 Ticker Symbol
        .form-group
          input(name="ticker",type="text", placeholder="ex.: GOOGL")
        button(type="submit").btn.btn-warning Calculate Valuation
        include includes/signinbtn.pug
    hr.my-4
    h3 Invest with a margin of safety, emphasis on safety

