extends layout

block content
  .card.py-3
    .card-title
      h1 VTI Interactive
      h2 Invest with a margin of safety, emphasis on safety
    .card-body
      form(action="/result",method="POST").form-control
        h3 Ticker Symbol
        .form-group
          input(name="ticker",type="text", placeholder="ex.: GOOGL")
        button(type="submit").btn.btn-warning Calculate Valuation
      
