doctype html
html
  head
    title= title
    include includes/head.pug
  body
    .container-fluid
      .row
        .col
          block content
      .row
        include includes/signinbtn.pug
      .row
        include includes/credits.pug
