doctype html
html
  head
    title= title
    include head.pug
  body
    .container-fluid
      .row
        .col
          block content
      .row
        include signinbtn.pug
      .row
        include credits.pug
