body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row {
  display: flex;
}

#metric-card {
  height: auto;
  width: auto;
  margin: 0.5em;
  padding: 0.25em
}

.body-card {
  margin: 0.5em;
  padding: 0.25em
}